*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  animation: backgroundChange 15s infinite;
}

.frame {
  position: relative;
  width: 400px;
  height: 400px;
  border-radius: 2px;
  overflow: hidden;
  background: linear-gradient(135deg, #667eea, #764ba2);
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  animation: backgroundFrameChange 15s infinite;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.line {
  fill: none;
  stroke: #fff;
  stroke-width: 3px;
  stroke-linecap: round;
  animation: line 2.5s linear infinite;
}

.circle {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 20px solid #fff;
  animation: circle 2.5s ease-out infinite both;
}

.circle.circle1 {
  top: 185px;
  left: 185px;
  animation-delay: 0.1s; 
}

.circle.circle2 {
  top: 205px;
  left: 205px;
  animation-delay: 0.3s;
}

@keyframes line {
  0% {
    stroke-dasharray: 50 660;
    stroke-dashoffset: 780;
  }
  100% {
    stroke-dasharray: 50 660;
    stroke-dashoffset: 70;
  }
}

@keyframes circle {
  0%, 50% {
    opacity: 1;
    transform: scale(0);
  }
  70%, 100% {
    opacity: 0;
    transform: scale(0.8);
  }
}

@keyframes backgroundChange {
  0% { background-color: #111; }
  25% { background-color: #333; }
  50% { background-color: #555; }
  75% { background-color: #777; }
  100% { background-color: #999; }
}

@keyframes backgroundFrameChange {
  0% { background: linear-gradient(135deg, #667eea, #764ba2); }
  25% { background: linear-gradient(135deg, #2ecc71, #3498db); }
  50% { background: linear-gradient(135deg, #e67e22, #f1c40f); }
  75% { background: linear-gradient(135deg, #9b59b6, #8e44ad); }
  100% { background: linear-gradient(135deg, #2980b9, #1abc9c); }
}